{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    "add-module-exports",
    "transform-runtime"
  ],
  "env": {
    "development": {
      "plugins": [
        "syntax-flow",
        "tcomb",
        "transform-flow-strip-types"
      ]
    },
		"production": {
			"plugins": [
				"babel-plugin-transform-remove-console",
				"babel-plugin-transform-remove-debugger",
				"babel-plugin-dev-expression",
        "syntax-flow",
        "transform-flow-strip-types"
			]
		}
}
